<head>
    <meta charset="UTF-8">
    <title>main</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alike+Angular&family=Press+Start+2P&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="Sidebarhover" href="/js/script.js">
    <script src="https://kit.fontawesome.com/0c74b1dc1c.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="title loginSlide"> Gamer Database<span><img class="icon" src="Images/alien-pixelated-shape-of-a-digital-game.png"></span></div>
        <!-- User,Homepage,Twitch,Youtube -->
        <div id="pageSidebar">
            <div class="sideBar">
                <div class="link-hover"><a href="#"><img class="icon" src="./Images/user.png"><span
                            class="icon-text"></span></a>
                    <ul>
                        <li><a href="../user">User</a></li>
                    {{!-- </ul>
                    <ul> --}}
                        <li><a href="../login">Login</a></li>
                    </ul>
                </div>
                <div class="link-hover" id="home"><a href="../home"><img class="icon" src="./Images/home.png"><span
                            class="icon-text"></span></a>
                    <ul>
                        <li><a>Home</a></li>
                    </ul>
                </div>

                <div class="link-hover"><a href="#"><img class="icon" src="./Images/twitch.png"><span
                            class="icon-text"></span></a>
                    <ul>
                        <li> <a>Twitch</a></li>
                    </ul>
                </div>
                <div class="link-hover"><a href="#"><img class="icon" src="./Images/youtube.png"><span
                            class="icon-text"></span></a>

                    <ul>
                        <li> <a>Youtube</a></li>
                    </ul>
                </div>

                <div class="link-hover"><a href="#"><img class="icon" src="./Images/video-game.png"><span
                            class="icon-text"></span></a>
                    <ul>
                        <li> <a>Games</a></li>
                    </ul>

                </div>
               
               <div class="powerLog"><a href="#" alt="Logout"><img class="icon" src="./Images/power-button.png"><span
                            class="icon-text"></span></a>
                </div>
               
            </div>
        </div>
    {{!-- </div> --}}
    {{{ body }}}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="/js/script.js"></script>
</body>

</html>