<div class="search-bar">
    <div class="input-group mb-3">
        <button class="btn btn-outline-secondary fetch-button" type="button" id="button-addon1">
            <img class="icon" src="./Images/search.png"></button>
        <input type="text" class="form-control" placeholder="Search" aria-label="Example text with button addon"
            aria-describedby="button-addon1" id="newCall">
    </div>
</div>




<body class="alignC">
        <div class="cover-art">
            <p>
                <ul class="mainPic" id="coverArt"></ul>
            </p>
        </div>

<script type="text/javascript" src="/js/script.js"></script>
</body>
</html>

{{!-- <div> I am here </div> --}}

