
<body id="loginBackground">
{{!--    <div class="videoEmbed"> --}}
{{!--        <iframe src="https://drive.google.com/file/d/17oqHQ67K2REwgEiIsQ2FeQ_el3d-569Z/preview" width="640" height="480" allow="autoplay"></iframe> --}}
{{!--    </div> --}}



    {{!-- <div class="title loginSlide"> Gamer Database<span><img class="icon" src="Images/alien-pixelated-shape-of-a-digital-game.png"></span></div> --}}
       <div class="container-lg">


        <div class="col">
            <h2>User login</h2>
            <hr>
            <form>
            {{!-- input fields for login and button --}}
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"></span>

                {{!-- <label for="loginemail">email:</label> --}}
                <input type="text"  id="loginemail" class="form-control" placeholder="Email" aria-label="Username"
                
                    aria-describedby="basic-addon1">
            </div>
            <hr>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"></span>
                {{!-- <label for="loginpassword">password:</label> --}}
                <input type="password" id="loginpassword" class="form-control" placeholder="Password" aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>
            {{!-- add show password function for password input field --}}
            {{!-- button --}}
            <button type="button" id="loginbutton" class="btn btn-primary loginbutton">Login</button>
        </div>

        </form>
        
        <div class="col">
            <h2>Account creation</h2>
            <hr>
            <form> 

            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"></span>
                {{!-- <label for="signupemail">Email</label> --}}
                <input type="text" id="signupemail" class="form-control" placeholder="email" aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>
            <hr>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"></span>
                {{!-- <label for="signuppassword">Password:</label> --}}
                <input type="password" id="signuppassword" class="form-control" placeholder="password" aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>
            
            {{!-- button --}}
            {{!-- add show password function for password input field --}}
            <button type="button"  id="signupbutton" class="btn btn-secondary signupbutton">Create Account</button>
            </div>

            </form>
        </div> 
</body>
<script src="/js/login.js"></script>


        
        </form>
   
</div>


