
<body>
    <div class="videoEmbed">
        <iframe src="https://drive.google.com/file/d/17oqHQ67K2REwgEiIsQ2FeQ_el3d-569Z/preview" width="640" height="480" allow="autoplay"></iframe>
    </div>

    <div class="row row">
        <div class="col">
            <h2>User login</h2>
            <hr>
            {{!-- input fields for login and button --}}
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"></span>
                <input type="text" class="form-control" placeholder="Username" aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>
            <hr>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"></span>
                <input type="password" class="form-control" placeholder="Password" aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>
            {{!-- add show password function for password input field --}}
            {{!-- button --}}
            <button type="button" class="btn btn-primary">Login</button>
        </div>
        <div class="col">
            <h2>Account creation</h2>
            <hr>
            {{!-- input fields for account creation plus button --}}
            {{!--
            name
            user name
            email
            password
            --}}
            
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"></span>
                <input type="text" id="loginUsername" class="form-control" placeholder="Username" aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>
            <hr>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"></span>
                <input type="text" class="form-control" placeholder="email" aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>
            <hr>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"></span>
                <input type="password" class="form-control" placeholder="password" aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>
            
            {{!-- button --}}
            {{!-- add show password function for password input field --}}
            <button type="button" class="btn btn-secondary">Create Account</button>

        {{!-- </div> hello --}}
    </div>
</div>