{{!-- user profile picture ??? --}}

{{!-- user name displayed ???--}}

{{!-- account options, edit account, delete account, upgrade account, add friend? --}}

{{!-- <div>{{{body}}}</div> --}}


<div class="container-lg">
    <div class="row row">
        <div class="col">
            <div class="card" "width: 18rem;">
                <img src="/images/camogord.jpg" class="card-img-top" id="avatar-img" alt="palceholder">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="#" class="btn btn-primary">edit profile</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h3>User Information</h3>
                    
                    <hr>

                    <h5> Email :</h5>
                    <p>yamom'semail@myhouse.com</p>
                    
                    <h5> name :</h5>
                    <p>name goes here</p>

                    
                    <h5> favorite game :</h5>
                    <p>destiny 2</p>


                </div>
            </div>
        </div>
    </div>
</div>