{{!-- create a card --}}
<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">user profile</h5>
        <p class="card-text">user information goes here
            with some more content able to be added in here.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
        {{!-- not too sure about the button --}}
    </div>
</div>

{{!-- user profile picture ??? --}}

{{!-- user name displayed ???--}}

{{!-- account options, edit account, delete account, upgrade account, add friend? --}}

{{!-- <div>{{{body}}}</div> --}}

