{{!-- user profile picture ??? --}}

{{!-- user name displayed ???--}}

{{!-- account options, edit account, delete account, upgrade account, add friend? --}}

{{!-- <div>{{{body}}}</div> --}}


<div class="container-lg px-4">
    <div class="row row gx-5">
        <div class="col">
            <div class="card" "width: 18rem;">
                
                <div class="card-body">
                    <h5 class="card-title">Welcome!</h5>
                    <p class="card-text">Welcome to Game Database, click home button to search for games!</p>
                    
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h3>User Information</h3>

                    <hr>

                    <h5> Email :</h5>
                    <p>{{email}}</p>

                  


                    


                </div>
            </div>
        </div>
    </div>
</div>