body { 
    background-color: #614d8f;
    display: flex;
    flex-direction: row;
    font-family: 'Times New Roman', Times, serif;
    /* background-image: 
    url(https://media.giphy.com/media/e54iaZjS7yhqRHw3wZ/giphy-downsized-large.gif);  */
    background-size: cover;
}

ul {
    list-style-type: none;
    padding:0;
    text-align: start;
    display: block;
}

/* there is something wrong with .alignC */
.alignC {
    position: absolute;
    /* left: 45%; */
    top: 5%;
    height: 100px;
    /* margin-left: -700px; */
    margin-top: -50px;
}

.sideBar {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #111;
    transition: 10ms;
    overflow-x: hidden;
    padding-top: 5px;
    white-space: nowrap;
    width: 75px;
}

.sideBar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
}

.sideBar a:hover {
    color: #f1f1f1;
    left: 0;
    width: 100%;
}


img {
    height: 25px;
}

main .sideBar {
    position: absolute;
    top: 0;
    right: 25;
    margin-left: 50px;
}

#main {
    padding: 16px;
    margin-left: 85px;
    transition: margin-left 0.5s;
}
.no-touch .scrollable.hover {
    overflow-y: hidden;
  }
  a:hover,
a:focus {
  text-decoration: none;
}
.icon-text{
    display:center;
    color: black;
}
.icon,
.icon-text {
    display: block;
    margin-right: auto;
    margin-left: auto;
    right: 5px;
    /* vertical-align: middle; */
}

@media screen and (max-height:450px) {
    .sideBar {
        padding-top: 15px;
    }

    .sideBar a {
        font-size: 18px;
    }
    .players{
        position: relative;
        width: 45%;
    }
    .search-bar{
        position: fixed;
    }
}

.twitchS {
    margin-top: 400px;
}

.powerLog {
    top: 1000px;
    /* position: fixed; */
    margin-top: 545%;
}

.cover-art {
    position: relative;
    top: 100px;
    left: 27vh;
    bottom: -50px;
    width: 47vw;
    height: 2107px;
    background-color: black;
    padding: 12px;
    border-radius: 10px;
}

.mainPic img {
    margin-left: 9px;
    height: 350px;
    padding-right: 10px;
}

.mainPic p {
    color: white;
    font-size: larger;
    margin-top: 10px;
}

#coverArt {
    /* display: flex; */
    align-content: center;
    position:relative;
    width: 100%;
}

#coverArt li {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}


/* .artSty {
    width: auto;  
text-align: center;  
padding: 15px;  
} */

.comments {
    position: relative;
    display: block;
    right: -250px;
    background-color: white;
    height: 600px;
    width: 450px;
    border-radius: 5%;
    top: 100px;
}

.players {
    position: relative;
    background-color: black;
    width: 300px;
    height: 310px;
    bottom: -700px;
    left: -70vh;
    display: flex;
    align-content: space-around;
    justify-content: space-between;
}

@keyframes over {
    
    100% {
        opacity: 1;
        margin-left: 15px;
    }
}

#pageSidebar {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    height: 100%;
    background: wheat;
    border-right: 1px solid #ddd;
}

#pageSidebar .sideBar {
    display: flex;
    flex-direction: column;
}

#pageSidebar .sideBar a {
    color: black;
    display: flex;
    padding: 20px;
    text-decoration: none;
}

#pageSidebar .sideBar a {
    display: inline-block;
}


.link-hover ul {
    height: 0px;
    max-height: 0px;
    overflow: hidden;
    z-index: 100;
    width: 100px;
    transition: 0.5s all;
    background-color: #93d3fb;
    color: black;
}

.link-hover:hover ul {
    display: block;
    width: 150px;
    height: 50px;
    max-height: 150px;
}
.link-hover:hover p {
    display: block;
    width: 150px;
    height: 50px;
    max-height: 300px;
}

#pageSidebar .sideBar a:active,
#pageSidebar .sideBar a:hover {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: row;
}

#pageSidebar .sideBar a:active {
    background: #00ff00;
    color: black;
}

/* .loginSlide {
    margin-left: 100px;    
} */

.search-bar {
    position: relative;
    top: 5px;
    height: 40px;
    /* left: 70%; */
    background: black;
    border-radius: 5%;
    left: 80vh;
}
@media screen {
    
}
#button-addon1{
    width: 50px;
    background-color: #121212;
}

.container-lg{
background-color: #818181;
height: 85vh;
width: 550px;
position: relative;
top: 60px;
right: 450px;
padding-top: 125px;
-webkit-box-shadow: 8px 7px 8px 2px #000000;
    box-shadow: 8px 7px 8px 2px #000000;
    border-radius: 15px;
}

#avatar-img{
    width: 240px;
    height: 240px;
    border-radius: 105px;
}

.card {
    -webkit-box-shadow: 8px 7px 8px 2px #000000;
    box-shadow: 8px 7px 12px 2px #000000;
    margin-top: 5px;
}

.title {
    font-family: 'Alike Angular', serif;
    font-family: 'Press Start 2P', cursive;
    font-size: 45px;
    color: #ddd;
    position: absolute;
   right: 250px;
   top: 80px;
}

#title-icon {
    height: 45px;

}