body {
    background-color: #4d0303;
    display: flex;
    flex-direction: row;
    font-family: 'Times New Roman', Times, serif;
}

ul {
    list-style-type: none;
    padding:0;
    text-align: start;
}

.alignC {
    /* position: relative;
    left: 15%; */
    /* text-align: center; */
    position:    absolute;
    left:        50%;
    top:         5%;
    height:      100px;
    margin-left: -500px;
    margin-top:  -50px;
}

.sideBar {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    transition: 1ms;
    overflow-x: hidden;
    padding-top: 5px;
    white-space: nowrap;
    width: 70px;
}

.sideBar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
}

.sideBar a:hover {
    color: #f1f1f1;
    left: 0;
    width: 100%;
}

img {
    height: 25px;
}

main .sideBar {
    position: absolute;
    top: 0;
    right: 25;
    margin-left: 50px;
}

#main {
    padding: 16px;
    margin-left: 85px;
    transition: margin-left 0.5s;
}

.icon,
.icon-text {
    margin-right: 30px;
    vertical-align: middle;
}

@media screen and (max-height:450px) {
    .sideBar {
        padding-top: 15px;
    }

    .sideBar a {
        font-size: 18px;
    }
}

.cover-art {
    position: relative;
    top: 100px;
    left: -150px;
    bottom: -50px;
    width: 350px;
    height: 600px;
    background-color: black;
}

.comments {
    position: relative;
    display: block;
    right: -550px;
    background-color: white;
    height: 600px;
    width: 450px;


}

.players {
    position: relative;
    background-color: black;
    width: 80%;
    height: 400px;
    bottom: -100px;
    left: -50px;
    display: flex;
    align-content: space-around;
    justify-content: space-between;
}

@keyframes over {
    
    100% {
        opacity: 1;
        margin-left: 15px;
    }
}

#pageSidebar {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    height: 100%;
    background: wheat;
    border-right: 1px solid #ddd;
}

#pageSidebar .sideBar {
    display: flex;
    flex-direction: column;
}

#pageSidebar .sideBar a {
    color: wheat;
    display: flex;
    padding: 20px;
    text-decoration: none;
}

#pageSidebar .sideBar a {
    display: inline-block;

}


.link-hover ul {
    height: 0px;
    max-height: 0px;
    overflow: hidden;
    z-index: 100;
    width: 100px;
    transition: 1.5s all;
    background-color: green;
    


}

.link-hover:hover ul {
    display: block;
    width: 150px;
    height: 50px;
    max-height: 300px;
}

#pageSidebar .sideBar a:active,
#pageSidebar .sideBar a:hover {
    text-decoration: none;
    background: #4caf50;
    color: black;
    display: flex;
    flex-direction: row;
}

#pageSidebar .sideBar a:active {
    background: #00ff00;
}

.search-bar{
position: relative;
top: 0px;
height: 45px;
left: 45%;
}

.container-lg{
background-color: #818181;
height: 450px;
width: 690px;
position: relative;
top: 110px;
left: -35px;

}

#avatar-img{
    width: 240px;
    height: 240px;
    border-radius: 105px;


}

