body {
    background-color: #121212;
    display: flex;
    flex-direction: row;
    font-family: 'Times New Roman', Times, serif;
}

.sideBar {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    transition: 0.5s;
    overflow-x: hidden;
    padding-top: 60px;
    white-space: nowrap;
}

.sideBar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
}

.sideBar a:hover {
    color: #f1f1f1;
    left: 0;

}

img {
    height: 25px;
}

main .sideBar {
    position: absolute;
    top: 0;
    right: 25;
    margin-left: 50px;
}

#main {
    padding: 16px;
    margin-left: 85px;
    transition: margin-left 0.5s;
}

.icon,
.icon-text {
    margin-right: 30px;
    vertical-align: middle;
}

@media screen and (max-height:450px) {
    .sideBar {
        padding-top: 15px;
    }

    .sideBar a {
        font-size: 18px;
    }
}

.cover-art {
    position: relative;
    left: +450px;
    bottom: -50px;
    width: 350px;
    height: 600px;
    background-color: black;


}

.comments {
    position: relative;
    display: block;
    right: -850px;
    bottom: -50px;
    background-color: white;
    height: 600px;
    width: 450px;


}

.players {
    position: relative;

    background-color: black;
    width: 80%;
    height: 400px;
    bottom: -750px;
    left: -150px;
    display: flex;
    align-content: space-around;
    justify-content: space-between;
}

@keyframes over {
    
    100% {
        opacity: 1;
        margin-left: 15px;
    }
}

#pageSidebar {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    height: 100%;
    background: #fff;
    border-right: 1px solid #ddd;
}

#pageSidebar .sideBar {
    display: flex;
    flex-direction: column;
}

#pageSidebar .sideBar a {
    color: wheat;
    display: flex;
    padding: 20px;
    text-decoration: none;
}

#pageSidebar .sideBar a {
    display: inline-block;

}


.link-hover ul {
    height: 0px;
    max-height: 0px;
    overflow: hidden;
    z-index: 100;
    width: 100px;
    transition: 1.5s all;
    background-color: green;
    


}

.link-hover:hover ul {
    display: block;
    width: 150px;
    height: 50px;
    max-height: 300px;
}

#pageSidebar .sideBar a:active,
#pageSidebar .sideBar a:hover {
    text-decoration: none;
    background: #4caf50;
    color: black;
    display: flex;
    flex-direction: row;
}

#pageSidebar .sideBar a:active {
    background: #00ff00;
}

